	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/03/2020 12:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../Fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../Fonts/Flaticon.woff2") format("woff2"),
       url("../Fonts/Flaticon.woff") format("woff"),
       url("../Fonts/Flaticon.ttf") format("truetype"),
       url("../Fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 80px;
font-style: normal;
margin-left: auto;
}

.flaticon-cpu:before { content: "\f100"; }
.flaticon-gpu:before { content: "\f101"; }
.flaticon-hdd:before { content: "\f102"; }
.flaticon-software:before { content: "\f103"; }